<!DOCTYPE html>
<html lang="en">

<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Administration</title>
    <!-- CSS-->
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<style>
    .section {
        padding: 0 180px;
        position: sticky;
    }
        .member {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
   
		.bg-dark{
        background-color: #343a40!important;
    }

    nav{
        background-color: #263288!important;
    }

    .navbar{
        background-color: #263288!important;
    }


</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="../">Go Back	&#8592;</a>
			</li>
			
			
		  </ul>
	  </nav>
    <!--<div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football</a>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tournament</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Features</label>
                        <ul>
                            <li><a href="pointstable.html">Points Table</a></li>
                            <li><a href="#">Leagues & Fixtures</a></li>
                            <li><a href="#">Player Comparison</a></li>
                            <li><a href="#">Team Comparison </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">Development Activities</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Features</label>
                        <ul>
                            <li><a href="findfootball.html">Find Football</a></li>
                            <li><a href="#">Player & Coach Registration</a></li>
                            <li><a href="#">Scouting</a></li>
                            <li><a href="#">National Center of Excellence</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">Who are we</a>
                        <input type="checkbox" id="show-services">
                        <label for="show-services">Services</label>
                        <ul>
							<li><a href="history.html">History</a></li>
							<li><a href="Generalbody.html">General Body</a></li>
							<li><a href="president.html">President’s Address</a></li>
							<li><a href="Adminstration.html">Adminstration</a></li>
							<li><a href="committee.html">Committee</a></li>
							<li><a href="execcomm.html">Executive Committee</a></li>
							<li><a href="contactus.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li><a href="store.html">Shop</a></li>
                </ul>
            </div>
            </form>
        </nav>
    </div> -->
    <div style="background:#ffa876; color: whitesmoke;">
        <br> <br> <br>
        <h1 align="center"> HQ Administration</h1>
        <br><br>
    </div>
    <div class="ex-committee padd-50">

        <section class="section">
			<div class="container">
									<h2>General Secretariat<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1575018959.jpg" alt="Kushal Kumar Das">
									</div>
									<div class="info">
										<h4>Kushal Kumar Das</h4>
										<p>General Secretary</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085418.jpg" alt="Jyotsna Gupta">
									</div>
									<div class="info">
										<h4>Jyotsna Gupta</h4>
										<p>Executive Assistant</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Administration<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Tony Cabral">
									</div>
									<div class="info">
										<h4>Tony Cabral</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579081530.jpg" alt="Lt. Col. Brij Mohan Rai Mehta">
									</div>
									<div class="info">
										<h4>Lt. Col. Brij Mohan Rai Mehta</h4>
										<p>Assistant General Secretary</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083433.jpg" alt="Meenakshi Khattar">
									</div>
									<div class="info">
										<h4>Meenakshi Khattar</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085117.jpg" alt="Pushpa Rana">
									</div>
									<div class="info">
										<h4>Pushpa Rana</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1578986692.jpg" alt="Mukesh  Singh Rawat">
									</div>
									<div class="info">
										<h4>Mukesh  Singh Rawat</h4>
										<p>Coordinator (Administration)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085593.jpg" alt="Sandeep Dhaundiyal">
									</div>
									<div class="info">
										<h4>Sandeep Dhaundiyal</h4>
										<p>Coordinator (Administration)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531551542.jpg" alt="Bahadur  Singh Karki">
									</div>
									<div class="info">
										<h4>Bahadur  Singh Karki</h4>
										<p>Field Assistant</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1578987171.jpg" alt="Gopal  Singh Rawat">
									</div>
									<div class="info">
										<h4>Gopal  Singh Rawat</h4>
										<p>Driver</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1578987346.jpg" alt="Sunil Kumar Jha">
									</div>
									<div class="info">
										<h4>Sunil Kumar Jha</h4>
										<p>Office Boy</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1578987397.jpg" alt="Hardev  Kumar">
									</div>
									<div class="info">
										<h4>Hardev  Kumar</h4>
										<p>Office Boy</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082857.jpg" alt="Mohan Kumar">
									</div>
									<div class="info">
										<h4>Mohan Kumar</h4>
										<p>Driver</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085830.jpg" alt="Ram  Balak Das">
									</div>
									<div class="info">
										<h4>Ram  Balak Das</h4>
										<p>Office Boy</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085462.jpg" alt="Satyendra  Kumar">
									</div>
									<div class="info">
										<h4>Satyendra  Kumar</h4>
										<p>Electrician</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083212.jpg" alt="Harendra Swain">
									</div>
									<div class="info">
										<h4>Harendra Swain</h4>
										<p>Sr. Manager </p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1542264622.jpg" alt="Store Manager">
									</div>
									<div class="info">
										<h4>Store Manager</h4>
										<p>Office Assistant Logistics</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>League<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082470.jpg" alt="Sunando Dhar">
									</div>
									<div class="info">
										<h4>Sunando Dhar</h4>
										<p>CEO League</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1583144857.jpg" alt="Akshay Rohatgi">
									</div>
									<div class="info">
										<h4>Akshay Rohatgi</h4>
										<p>Sr Manager I League Operations &amp; Club Licensing</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083175.jpg" alt="Indu Choudhary">
									</div>
									<div class="info">
										<h4>Indu Choudhary</h4>
										<p>Sr Manager (IWL)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531554756.jpg" alt="Indranil Das">
									</div>
									<div class="info">
										<h4>Indranil Das</h4>
										<p>Manager Club Licensing</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1538978134.jpg" alt="Abhishek Kumar Yadav">
									</div>
									<div class="info">
										<h4>Abhishek Kumar Yadav</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083097.jpg" alt="Swagato Bhattacharya">
									</div>
									<div class="info">
										<h4>Swagato Bhattacharya</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1577347162.jpg" alt="Sahil Singh">
									</div>
									<div class="info">
										<h4>Sahil Singh</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Deepak John Nayak">
									</div>
									<div class="info">
										<h4>Deepak John Nayak</h4>
										<p>Manager Grassroots &amp; Futsal</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579086231.jpg" alt="Jai Narain Sharma">
									</div>
									<div class="info">
										<h4>Jai Narain Sharma</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Player&#039;s Status &amp; Registration<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Akshay Rajpurohit">
									</div>
									<div class="info">
										<h4>Akshay Rajpurohit</h4>
										<p>Assistant Manager (Legal)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531549762.jpg" alt="Sankalp S. Pujari">
									</div>
									<div class="info">
										<h4>Sankalp S. Pujari</h4>
										<p>Director Players Status &amp; Registrations</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082427.jpg" alt="Ujjwal  Sareen">
									</div>
									<div class="info">
										<h4>Ujjwal  Sareen</h4>
										<p>Assistant Manager (Legal)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082747.jpg" alt="Divya Madaan">
									</div>
									<div class="info">
										<h4>Divya Madaan</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082785.jpg" alt="Aindrila Das">
									</div>
									<div class="info">
										<h4>Aindrila Das</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083141.jpg" alt="Varsha  Indaliya">
									</div>
									<div class="info">
										<h4>Varsha  Indaliya</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>National Teams<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Abhishek Yadav">
									</div>
									<div class="info">
										<h4>Abhishek Yadav</h4>
										<p>Director National Teams</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085156.jpg" alt="Shantha Gopinath">
									</div>
									<div class="info">
										<h4>Shantha Gopinath</h4>
										<p>Sr. Manager </p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579086165.jpg" alt="Sapna Rani">
									</div>
									<div class="info">
										<h4>Sapna Rani</h4>
										<p>Manager Women&#039;s Football</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531553361.jpg" alt="Akanksha Chhibber">
									</div>
									<div class="info">
										<h4>Akanksha Chhibber</h4>
										<p>Coordinator Women&#039;s Football </p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Vikram Manohar Nanivadekar">
									</div>
									<div class="info">
										<h4>Vikram Manohar Nanivadekar</h4>
										<p>Head of Scouting</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Accounts<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082821.jpg" alt="Manoj Gupta">
									</div>
									<div class="info">
										<h4>Manoj Gupta</h4>
										<p>Director Finance &amp; Accounts</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085513.jpg" alt="Naveen Jain">
									</div>
									<div class="info">
										<h4>Naveen Jain</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082915.jpg" alt="Arunendra Pratap Singh">
									</div>
									<div class="info">
										<h4>Arunendra Pratap Singh</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082967.jpg" alt="Mohan  Chandra">
									</div>
									<div class="info">
										<h4>Mohan  Chandra</h4>
										<p>Executive</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Rajesh Arora">
									</div>
									<div class="info">
										<h4>Rajesh Arora</h4>
										<p>Executive</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Referees<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083344.jpg" alt="Ravishankar  J.">
									</div>
									<div class="info">
										<h4>Ravishankar  J.</h4>
										<p>Director Referees</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Suresh Srinivasan">
									</div>
									<div class="info">
										<h4>Suresh Srinivasan</h4>
										<p>Manager Referees Development</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531555724.jpg" alt="Anup Kumar Udayasingh">
									</div>
									<div class="info">
										<h4>Anup Kumar Udayasingh</h4>
										<p>Manager (Referees Administration)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Prakhar Tomar">
									</div>
									<div class="info">
										<h4>Prakhar Tomar</h4>
										<p>Assistant Manager (Referee Deptt.)</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Integrity<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Javed Siraj">
									</div>
									<div class="info">
										<h4>Javed Siraj</h4>
										<p>Integrity Officer</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Logistics<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085911.jpg" alt="Ashok Arora">
									</div>
									<div class="info">
										<h4>Ashok Arora</h4>
										<p>Director</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085079.jpg" alt="Snigdha  Bagchi">
									</div>
									<div class="info">
										<h4>Snigdha  Bagchi</h4>
										<p>Assistant Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082552.jpg" alt="Kapil  Asija">
									</div>
									<div class="info">
										<h4>Kapil  Asija</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085553.jpg" alt="Debismita Sarma">
									</div>
									<div class="info">
										<h4>Debismita Sarma</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Competitions<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531550205.jpg" alt="Anil Kamat">
									</div>
									<div class="info">
										<h4>Anil Kamat</h4>
										<p>AGS &amp; Director Competitions</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1533275872.jpg" alt="Rahul Parashar">
									</div>
									<div class="info">
										<h4>Rahul Parashar</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1564483243.jpg" alt="Vinod Panicker">
									</div>
									<div class="info">
										<h4>Vinod Panicker</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Media<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579085952.jpg" alt="Nilanjan Datta">
									</div>
									<div class="info">
										<h4>Nilanjan Datta</h4>
										<p>Director</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Soumo Ghosh">
									</div>
									<div class="info">
										<h4>Soumo Ghosh</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Shraishth Jain">
									</div>
									<div class="info">
										<h4>Shraishth Jain</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Dustin Yarde">
									</div>
									<div class="info">
										<h4>Dustin Yarde</h4>
										<p>Coordinator - Website &amp; Content</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Legal, Regulatory and Governance<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082320.jpg" alt="Antariksh  Das">
									</div>
									<div class="info">
										<h4>Antariksh  Das</h4>
										<p>Head of the Department</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>IT<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579086043.jpg" alt="Bineet Kumar Jha">
									</div>
									<div class="info">
										<h4>Bineet Kumar Jha</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Special Project &amp; Infrastructure<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Roma Khanna">
									</div>
									<div class="info">
										<h4>Roma Khanna</h4>
										<p>Director</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Rishab Kapur">
									</div>
									<div class="info">
										<h4>Rishab Kapur</h4>
										<p>Project Manager/Consultant</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Tanika    Sharma">
									</div>
									<div class="info">
										<h4>Tanika    Sharma</h4>
										<p>Manager Planning &amp; Design</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Debajyoti Mukherjee">
									</div>
									<div class="info">
										<h4>Debajyoti Mukherjee</h4>
										<p>Facility Manager (Kolkata)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Chetan Soni">
									</div>
									<div class="info">
										<h4>Chetan Soni</h4>
										<p>Project Manager -Infrastructure</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Mahendera ">
									</div>
									<div class="info">
										<h4>Mahendera </h4>
										<p>Office Boy</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Strategy and Operations <span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Razek Zaman">
									</div>
									<div class="info">
										<h4>Razek Zaman</h4>
										<p>Manager- Strategy &amp; Operations </p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1599292751.jpg" alt="Swati Kothari">
									</div>
									<div class="info">
										<h4>Swati Kothari</h4>
										<p>GM (S&amp;O) &amp; International Relations</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1580797431.jpg" alt="Jai Kumar Singh">
									</div>
									<div class="info">
										<h4>Jai Kumar Singh</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Arundhuti Ghosh">
									</div>
									<div class="info">
										<h4>Arundhuti Ghosh</h4>
										<p>HR Manager</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Coach Education<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Savio Medeira">
									</div>
									<div class="info">
										<h4>Savio Medeira</h4>
										<p>Head of Coach Education</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579086081.jpg" alt="Shveta Sharma">
									</div>
									<div class="info">
										<h4>Shveta Sharma</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1531553965.jpg" alt="Shubham  Kapoor">
									</div>
									<div class="info">
										<h4>Shubham  Kapoor</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>State Development<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082585.jpg" alt="Pushpargha Chattopadhyay">
									</div>
									<div class="info">
										<h4>Pushpargha Chattopadhyay</h4>
										<p>Head of State Development</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579083015.jpg" alt="Rohan  Nandi">
									</div>
									<div class="info">
										<h4>Rohan  Nandi</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>LOC (FIFA 2020 WWC)<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="L O C">
									</div>
									<div class="info">
										<h4>L O C</h4>
										<p>Manager</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="ROMA K">
									</div>
									<div class="info">
										<h4>ROMA K</h4>
										<p>Tournament Director  (LOC FIFA 2020 WWC)</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Technical Department<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579082659.jpg" alt="Isac Doru">
									</div>
									<div class="info">
										<h4>Isac Doru</h4>
										<p>Technical Director</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Men&#039;s Team Managers<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1592813311.jpg" alt="Himanshu Kharolia">
									</div>
									<div class="info">
										<h4>Himanshu Kharolia</h4>
										<p>Coordinator</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Velu Dhayalamai">
									</div>
									<div class="info">
										<h4>Velu Dhayalamai</h4>
										<p>Team Manager U19 (M)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1576850018.jpg" alt="Shalak Patade">
									</div>
									<div class="info">
										<h4>Shalak Patade</h4>
										<p>Team Manager U16 (M)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1572527316.jpg" alt="Rocky ">
									</div>
									<div class="info">
										<h4>Rocky </h4>
										<p>Team Manager U16 (M)</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Women’s Team Managers<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="kashif kamran">
									</div>
									<div class="info">
										<h4>kashif kamran</h4>
										<p>Manager (Women&#039;s Team)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://www.the-aiff.com/index.php/assets/images/avatar1.png" alt="Vaibhav Joshi">
									</div>
									<div class="info">
										<h4>Vaibhav Joshi</h4>
										<p>Team Manager U17 (W)</p>
									</div>
								</div>	
							</div>
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579086125.jpg" alt="Swaroop Satyawati Gurung">
									</div>
									<div class="info">
										<h4>Swaroop Satyawati Gurung</h4>
										<p>Manager Women&#039;s Football</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>
				<section class="section">
			<div class="container">
							</div>
		</section>
				<section class="section">
			<div class="container">
									<h2>Grassroots<span></span></h2>
					<div class="mob-scroll">
						<div class="row">
														<div class="col-md-3 col-6">
								<div class="member">
									<div class="image">
										<img class="lazy" src="https://www.the-aiff.com/assets/images/avatar1.png" data-src="https://aiffadmin.in/uploads/tn2_1579171973.jpg" alt="Rathin Saha">
									</div>
									<div class="info">
										<h4>Rathin Saha</h4>
										<p>Sr. Manager Grassroots</p>
									</div>
								</div>	
							</div>
													</div>
					</div>
							</div>
		</section>

        <br>
    </div>
    <br>
    <br>
    <br>
    <br>

</body>

</html>