<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  <title>Committees</title>
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<style>
    .conatainer h2{
        /* width: 500px; */
    }
    .section{
        padding: 0 180px;
        position: relative;
}
    table, thead, td ,thead {  
            border: 4px solid black;  
            border-collapse: collapse;  
                    }  
    thead, td {  
            padding: 10px;  
            }          
    table#alter tr:nth-child(even) {  
            background-color: rgb(190, 190, 190);  
            }  
    table#alter tr:nth-child(odd) {  
            background-color: rgb(255, 255, 255);  
            }  
    table#alter th {  
             color: white;  
            background-color: rgb(0, 160, 253);  
} 

.bg-dark{
        background-color: #343a40!important;
    }

    nav{
        background-color: #263288!important;
    }

    .navbar{
        background-color: #263288!important;
    }

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../">Go Back	&#8592;</a>
            </li>
            
            
          </ul>
      </nav>
  <!--<div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football</a></div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Tournament</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="pointstable.html">Points Table</a></li>
              <li><a href="#">Leagues & Fixtures</a></li>
              <li><a href="#">Player Comparison</a></li>
              <li><a href="#">Team Comparison </a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Development Activities</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="findfootball.html">Find Football</a></li>
              <li><a href="#">Player & Coach Registration</a></li>
              <li><a href="#">Scouting</a></li>
              <li><a href="#">National Center of Excellence</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Who are we</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
                <li><a href="history.html">History</a></li>
                <li><a href="Generalbody.html">General Body</a></li>
                <li><a href="president.html">President’s Address</a></li>
                <li><a href="Adminstration.html">Adminstration</a></li>
                <li><a href="committee.html">Committee</a></li>
                <li><a href="execcomm.html">Executive Committee</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
          </li>
          <li><a href="store.html">Shop</a></li>
        </ul>
      </div>
      </form>
    </nav>
  </div>-->
  <div style="background:#ffa876; color: whitesmoke;"> 
    <br>          <br>  <br>
      <h1 align="center">Committees</h1>
      <br><br>

  </div>  
      <div class="white-back padd-50 page">
        <div class="container">
                <div class="page-info" align="center">
                    <!-- wp:paragraph -->
    <p>The Committees comprise of the advisory Standing Committees and the Judicial Committees, both appointed by the Executive Committee. Their primary duties are defined in the AIFF Constitution.</p>
    <!-- /wp:paragraph -->
                </div>
                    <section class="section">
                <h2>AUDIT &amp; FINANCE COMMITTEE                                                                           <span></span></h2> <br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Utpal Ganguli</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Mohd Shamsuddin</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Hardev Jadeja</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Franco Miranda</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Subrata Debbarma</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Jesiah Villavarayer</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Aniruddha Ghosh</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Gopalkrishna Kosaraju</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr N K Bhatia</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section> 
            <br>
                    <section class="section">
                <h2>COMPETITIONS COMMITTEE                                                                              <span></span></h2> <br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Manvendra Singh</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Deepak Sharma</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Ankur Dutta</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Dipen Ghosh</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Avijit Paul</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Nagendra Singh</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Devang Bhimjyani</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Syed Imtiaz Hussain</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Nikhil Yatin Patil</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>REFEREES COMMITTEE                                                                                  <span></span></h2> <br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Gulab Chauhan</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Amit Ranjan Dev</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Rizwan ul Haq</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr S Ramchandran Nair</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Nazir Ahmad</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Walter Pereira</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Bikash Mukherjee</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Ranadhir Sow</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Inayathulla Khan</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Mrinal Kanti Roy</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Maria Piedade Rebello</td>
                                <td class="mob-r">Member (W)</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>WOMEN&#039;S FOOTBALL COMMITTEE                                                                          <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Ms Sara Pilot</td>
                                <td class="mob-r">Chairperson</td>
                            </tr>
                                                    <tr>
                                <td>Ms Rekha Yadav</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Sudeshna Mukherjee</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Shabana Rabbani</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr S Dhanasegar</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Anjali Shah</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Madhureemaraje Chhatrapati</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Shama Mohamed</td>
                                <td class="mob-r"></td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>DEVELOPMENT COMMITTEE                                                                               <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Larsing Sawyan</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Subhash Chopra</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Ghulam Rabbani</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Surinder Kumar</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Joydeep Mukherjee</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Yash Patel</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Menla Ethenpa</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>CLUB LICENSING COMMITTEE                                                                            <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Dr Girija Shanker Mungali</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Anirban Gupta</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Jeet Parikh</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Bikramjit Purkayasthya</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>SPORTS MEDICAL COMMITTEE                                                                            <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Dr Vece Paes</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Dr G D Gandhi</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Dr P S M Chandran</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Dr Nisha Alvares</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Dr Pralay Majumdar</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Dr Nisith Ranjan Chowdhury</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Dr Harsh Mahajan</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>LEGAL ADVISORY COMMITTEE                                                                            <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Rahul J Mascarenhas</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Piyush Kanti Roy</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Ms Vandana Gupte</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>TECHNICAL COMMITTEE                                                                                 <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Shyam Thapa</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Henry Menezes</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Ganapathi Palguna</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Abhishek Yadav</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Pradip Kumar Dutta</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Ishfaq Ahmed</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Prasanta Banerjee</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Sundar Raman</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>FUTSAL &amp; BEACH SOCCER COMMITTEE                                                                     <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr V Sivankutty</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Lavino J Rebello</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Amit Khemani</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Gopalkrishnan Srinivvasan</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Rajiv Gupta</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Seeni Mohaideen</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Dr S Abdul Rahman</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Ardeshir Jeejeebhoy</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Dinesh Nair</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>DISCIPLINARY COMMITTEE                                                                              <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Ushanath Banerjee</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr A N Roy</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Adithya Reddy</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Haresh Vora</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Prateek Chadha</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Dr Madhab Milan Ghosh</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>CLUB LICENSING APPEALS BODY                                                                         <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Retd. Justice N K Sud</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Nilay Dutta</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Valmiki Menezes</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Nazir Ahmad Khan</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Syed Akhtar Ali</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Manoj Joshi</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>PLAYERS STATUS COMMITTEE                                                                            <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Babu Mather</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr M P Swamy</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Anil Kshatriya</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Adlear D’Cruz</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr K P Sunny</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Niharendu Majumdar</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Pradip Choudhury</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Magan Singh Patwal</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Godfred Pereira</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>ETHICS COMMITTEE                                                                                    <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Amod Kanth</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Pradip Kumar Basu</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Hemendranath Brahma</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr P S Raman</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Atuo Mezhur</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>APPEALS COMMITTEE                                                                                   <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Saurabh Kirpal</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr D Shivanandhan (Retd. DGP)</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Savio Messias</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Tamal Mukherjee</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Nikhil Rohatgi</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Anish Dayal</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
                    <section class="section">
                <h2>LEAGUE COMMITTEE                                                                                    <span></span></h2><br>
                <div class="mob-scroll">
                    <table id ="alter" class="table table-striped table-hover mob-right">
                        <thead class="blue-block corner text-left">
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th class="mob-r" style="width: 50%;">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td>Mr Subrata Dutta</td>
                                <td class="mob-r">Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr Lalnghinglova Hmar</td>
                                <td class="mob-r">Deputy Chairman</td>
                            </tr>
                                                    <tr>
                                <td>Mr B K Roka</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Anil Kumar P</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Souter Vaz</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Chirag Tanna</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                    <tr>
                                <td>Mr Rochak Langer</td>
                                <td class="mob-r">Member</td>
                            </tr>
                                                </tbody>	
                    </table>
                </div>
            </section>
            <br>
        </div>
    </div>
    
      <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  
</body>
</html>