<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  <title>Executive Committees</title>
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<style>
    .section{
        padding: 0 180px;
        position: sticky;

}

.bg-dark{
        background-color: #343a40!important;
    }

    nav{
        background-color: #263288!important;
    }

    .navbar{
        background-color: #263288!important;
    }

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../">Go Back	&#8592;</a>
            </li>
            
            
          </ul>
      </nav>
 <!--<div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football</a></div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Tournament</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="pointstable.html">Points Table</a></li>
              <li><a href="#">Leagues & Fixtures</a></li>
              <li><a href="#">Player Comparison</a></li>
              <li><a href="#">Team Comparison </a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Development Activities</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="findfootball.html">Find Football</a></li>
              <li><a href="#">Player & Coach Registration</a></li>
              <li><a href="#">Scouting</a></li>
              <li><a href="#">National Center of Excellence</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Who are we</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
                <li><a href="history.html">History</a></li>
                <li><a href="Generalbody.html">General Body</a></li>
                <li><a href="president.html">President’s Address</a></li>
                <li><a href="Adminstration.html">Adminstration</a></li>
                <li><a href="committee.html">Committee</a></li>
                <li><a href="execcomm.html">Executive Committee</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
          </li>
          <li><a href="store.html">Shop</a></li>
        </ul>
      </div>
      </form>
    </nav>
  </div> -->
  <div style="background:#ffa876; color: whitesmoke;"> 
    <br>          <br>  <br>
      <h1 align="center"> Executive Committees</h1>
      <br><br>
  </div>
  <div class="ex-committee padd-50">

    <section class="section">
    <div class="container">
        <div class="row">
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575973263.jpg">
                    </div>
                    <div class="info">
                        <h4>Shri Praful Patel</h4>
                        <p>President</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575972911.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Subrata Dutta</h4>
                        <p>Senior Vice President</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575973638.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Manvendra Singh</h4>
                        <p>Vice President</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575973439.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Subhash Chopra</h4>
                        <p>Vice President</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575973756.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr K M I Mather</h4>
                        <p>Vice President</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575973932.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Larsing Sawyan</h4>
                        <p>Vice President</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1576045956.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Z A Thakur</h4>
                        <p>Treasurer</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575974056.png">
                    </div>
                    <div class="info">
                        <h4>Mr Deepak Sharma</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575974225.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Ghulam Rabbani</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575975218.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Jesiah Villavarayer</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575975450.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Hemendranath Brahma</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575975560.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Lalnghinglova Hmar</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575975809.jpg">
                    </div>
                    <div class="info">
                        <h4>Ms Sara Pilot</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575975952.jpg">
                    </div>
                    <div class="info">
                        <h4>Ms Anjali Shah</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575975892.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Abhishek Yadav</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575976425.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Gulab Chauhan</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                            <div class="col-md-3 col-6">
                <div class="member">
                    <div class="image">
                        <img src="https://aiffadmin.in/uploads/tn_1575974604.jpg">
                    </div>
                    <div class="info">
                        <h4>Mr Amit Ranjan Dev</h4>
                        <p>Member</p>
                    </div>
                </div>	
            </div>
                        </div>
    </div>
    </section>
    
      <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  
</body>
</html>