<!DOCTYPE html>
<html lang="en">

<head>
  <!-- FAVICON -->
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="home/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="home/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="home/favicon/favicon-16x16.png">
  <link rel="manifest" href="home/favicon/site.webmanifest">
  <link rel="mask-icon" href="home/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="navbar.css">

  <title> General Body</title>
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <style>
    body {
      background-image: url(bg121.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .cont {
      background-color: #263288;
      font-size: medium;
      font-display: initial;
      color: rgb(255, 253, 253);
    }

    .cont p {
      padding-left: 20px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football
            Hub</a></div>
        <ul class="links">
          <li><a href="">Home</a></li>
          <li><a href="">Tournament</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="WT_PROJECT_1941027\points table\table_points.html">Points Table</a></li>
              <!-- <li><a href="#">Leagues & Fixtures</a></li> -->
              <li><a href="WT_PROJECT_1941027\playercomp.php">Player Comparison</a></li>
              <li><a href="WT_PROJECT_1941027\teamcomp.php">Team Comparison </a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Development Activities</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <!-- <li><a href="#">Find Football</a></li> -->
              <li><a href="DBMS Project/TEMPLATE/Player&Coach_registration.html">Player & Coach Registration</a></li>
              <!-- <li><a href="#">Scouting</a></li> -->
              <li><a href="DBMS Project/TEMPLATE/National_Centre_of_Excellence.html">National Center of Excellence</a></li>
              <li><a href="DBMS Project/TEMPLATE/grassroots.html">Grassroots</a></li>
              <li><a href="DBMS Project/TEMPLATE/futsal.html">Futsal</a></li>
              <!-- <li><a href="vote/index.php">Vote</a></li> -->
              <li><a href="vote/index.php">Vote</a></li>
              <li><a href="news1/index.php">News</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Who are we</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
              <li><a href="TEMPLATE/history.html">History</a></li>
              <li><a href="TEMPLATE/Generalbody.html">General Body</a></li>
              <li><a href="TEMPLATE/contactus.html">Contact Us</a></li>
              <li><a href="TEMPLATE/Adminstration.html">Adminstration</a></li>
              <li><a href="TEMPLATE/committee.html">Committee</a></li>
              <li><a href="TEMPLATE/Documents.html">Documents</a></li>
              <li><a href="TEMPLATE/execcomm.html">Executive Committee</a></li>
              <li><a href="TEMPLATE/president.html">President</a></li>
            </ul>
          </li>
          <li><a href="shop/shop_index.php">Shop</a></li> 
          <li style="margin-left: 10px;"><a href="search bar/searchbar.php"><i class="fa fa-search" aria-hidden="true"></i></a></li>
          <li style="margin-left: 10px;"><a href="login/"><i class="fa fa-user" aria-hidden="true"></i></a></li>

        </ul>
      </div>
    </nav>
  </div>
  <div style="background:#ffa876; ">
    <br> <br> <br>
    <h1 align="center"> General Body</h1>
    <br><br>
  </div>
  <div class="cont">
    <br>
    <p>&nbsp1. A General Body meeting may be an Ordinary or a Special General Body Meeting.</p><br>
    <p>&nbsp2. The Ordinary General Body Meeting shall be held every year. The Executive Committee shall fix the place
      and date.
      Member Associations shall be notified in writing at least 30 (thirty) days in advance. In case of an Ordinary
      Annual General Body Meeting
      (AGM) where the elections are held, the nomination forms and electoral college shall be sent together with the
      above notification at least
      30 (thirty) days in advance. The formal convocation shall be made in writing at least 15 (fifteen) days before the
      date of the Ordinary General Body Meeting.
      This convocation shall contain the agenda, the financial statements and the Auditors' report.</p><br>
    <p>&nbsp3. The Executive Committee may convene a Special General Body Meeting at any time.</p><br>
    <p>&nbsp4. The Executive Committee shall convene a Special General Body Meeting if one-third of the Member
      Associations make such a request in writing. The request shall specify the items for the agenda. A Special General
      Body Meeting shall be held within 60 (sixty) days of receipt of the request.</p><br>
    <p>&nbsp5. The Members shall be notified of the place, date and agenda at least 30 (thirty) days before the date of
      a Special General Body Meeting. The agenda of a Special General Body Meeting may not&nbsp;be altered.</p><br>
    <p>&nbsp6. The ‘Honorary President’ and persons specially designated by the General Body along with the members of
      the Executive Committee and the General Secretary of the AIFF shall be called to&nbsp;attend the General Body
      Meetings in a consultative capacity.</p><br>
    <p>&nbsp7. The Executive Committee may invite third parties to attend the General Body Meetings. Third parties have
      no voting rights and can be consulted with the permission of the Executive&nbsp;Committee.</p><br>
    <p>&nbsp8. The Annual General Body Meeting shall be convened within nine months following the end of the Financial
      Year of AIFF, however, in special circumstances the Executive Committee may extend this&nbsp;time by a maximum of
      three months.</p><br>
    <p>&nbsp9. Notices of all meetings shall be issued by the General Secretariat.<br>10. The quorum for the Annual or
      Special General Body Meetings shall be 50% of the Members plus one.</p><br>

    <br>
    <h2><strong>&nbsp Vote, Delegates, Observers</strong></h2><br>

    <p>&nbsp1. Each Permanent Member&nbsp;<em>(</em><em>Permanent Member means a Football Association of a State
        or&nbsp;</em><em>Union Territory as specified in the Constitution of India, which has&nbsp;</em><em>been granted
        permanent affiliation to the AIFF)</em>&nbsp;has one vote in the General Body Meeting and is represented by its
      delegate. Voting by proxy or by letter is not permitted.</p><br>
    <p>&nbsp2. Delegates must belong to the Permanent Member that they represent and be nominated by the appropriate
      body of that Permanent Member. Nominations shall be signed by the President or the Honorary/General Secretary of
      the Permanent Member. In case of conflict the nomination signed by the President shall be treated as valid.
      However, no one can represent as a delegate who is criminally convicted by the court.<br><br></p>
    <p>&nbsp3. A member of the Executive Committee of AIFF shall not have voting right during the Annual and Special
      General Body Meetings of AIFF. He shall not be nominated as the representative of the&nbsp;respective Member
      Association during his tenure as member of the Executive Committee of AIFF.</p>
    <p>&nbsp4. The President shall conduct the General Body Meeting business in compliance with the Standing Orders of
      the General Body.</p><br>

  </div>

  <div id="footer">

    <div id="hr1">
        <div class="fw1">
            <h1 style="color: white; padding-left: 120px; padding-top:30px; font-size: 50px;">Quick Links</h1>
            <div style="color:rgb(255, 255, 255);padding-left: 120px;">
                <a href="" title="Homepage">Home</a>
                <br>
                <a href="" title="About">About</a>
                <br>
                <a href="shop/contact.php" title="contact Us">Contact Us</a>
                <br>
                <a href="shop/contact.php" title="Shop">Shop</a>
                <br>
                <a href="vote\index.php" title="Vote">Vote</a>
                <br>
                <a href="news1\index.php" title="News">News</a>
            </div>


        </div>
        <div class="fw1">

            <h1 style="color: white; padding-left: 80px; padding-top:30px; font-size: 50px;">Development Activities</h1>
            <div style="color:rgb(255, 255, 255);padding-left: 80px;">
                <!-- <a href="" title="Find Football">Find Football</a> -->
                <br>
                <a href="" title="Player_registration">Registration</a>
                <br>
                <a href="" title="Scouting">Scouting</a>
                <br>
                <a href="" title="NCE">National Center of Excellence</a>
                <br>
                <a href="DBMS Project/TEMPLATE/grassroots.html" title="Grassroots">Grassroots</a><br>
                <a href="" title="futsal">Futsal</a>
            </div>



        </div>

        <div class="fw1">

            <h1 style="color: white; padding-left: 100px; padding-top:30px; font-size: 30px;">Contact</h1>
            <address style="color:white; text-align: justify; padding-left:100px; padding-right:80px; font-size: 20px;">All India Football
                Federation,
                Football House, Sector-19, Phase 1,
                Dwarka, New Delhi: 110075
                Telephone: +91-11-25308200/201/202/203/204/205
                Fax: +91-1125308234, 25308236</address>
            <br>
            <div style="color:rgb(255, 255, 255);padding-left: 100px;">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <!-- <img src="" title="Instagram" alt="Instagram"> -->
                <br>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>
        </div>

    </div>
    <div id="hr2">
        <h1 style="color:rgba(21, 47, 163, 0.89);;;padding-left: 600px;"><b>@ Indian Football Hub</b></h1>

    </div>
    <div id="hr3" style="color:white; padding-top:20px;">
        <p align="Center"><b>@Team 15</b></p>
    </div>



</div>
</body>

</html>