<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="navbar.css">

  <title>History</title>
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style1.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-search">
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
            <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football
                Hub</a></div>
            <ul class="links">
              <li><a href="">Home</a></li>
              <li><a href="">Tournament</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Features</label>
                <ul>
                  <li><a href="WT_PROJECT_1941027\points table\table_points.html">Points Table</a></li>
                  <!-- <li><a href="#">Leagues & Fixtures</a></li> -->
                  <li><a href="WT_PROJECT_1941027\playercomp.php">Player Comparison</a></li>
                  <li><a href="WT_PROJECT_1941027\teamcomp.php">Team Comparison </a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="desktop-link">Development Activities</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Features</label>
                <ul>
                  <!-- <li><a href="#">Find Football</a></li> -->
                  <li><a href="DBMS Project/TEMPLATE/Player&Coach_registration.html">Player & Coach Registration</a></li>
                  <!-- <li><a href="#">Scouting</a></li> -->
                  <li><a href="DBMS Project/TEMPLATE/National_Centre_of_Excellence.html">National Center of Excellence</a></li>
                  <li><a href="DBMS Project/TEMPLATE/grassroots.html">Grassroots</a></li>
                  <li><a href="DBMS Project/TEMPLATE/futsal.html">Futsal</a></li>
                  <!-- <li><a href="vote/index.php">Vote</a></li> -->
                  <li><a href="vote/index.php">Vote</a></li>
                  <li><a href="news1/index.php">News</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="desktop-link">Who are we</a>
                <input type="checkbox" id="show-services">
                <label for="show-services">Services</label>
                <ul>
                  <li><a href="TEMPLATE/history.html">History</a></li>
                  <li><a href="TEMPLATE/Generalbody.html">General Body</a></li>
                  <li><a href="TEMPLATE/contactus.html">Contact Us</a></li>
                  <li><a href="TEMPLATE/Adminstration.html">Adminstration</a></li>
                  <li><a href="TEMPLATE/committee.html">Committee</a></li>
                  <li><a href="TEMPLATE/Documents.html">Documents</a></li>
                  <li><a href="TEMPLATE/execcomm.html">Executive Committee</a></li>
                  <li><a href="TEMPLATE/president.html">President</a></li>
                </ul>
              </li>
              <li><a href="shop/shop_index.php">Shop</a></li> 
              <li style="margin-left: 10px;"><a href="search bar/searchbar.php"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              <li style="margin-left: 10px;"><a href="login/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
    
            </ul>
          </div>
        </nav>
      </div>
  <div style="background:#ffa876; color: whitesmoke;"> 
    <br>          <br>  <br>
      <h1 align="center">History Of Indian Football</h1>
      <br><br>

      <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="wraper">
    <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
      </div>
    <div class="row row-1">
      <section>
        <div class="details">
          <span class="title">Calcutta FC the first club to be established in 1872</span>
          <span style="background: #263288; color:white"> 1872</span>
        </div>
        <p> 
            The game was introduced to the Calcuttans (then the capital of India) by the British soldiers in the nineteenth century. Very few would know that Nagendra Prasad Sarbadhakari, known as the Father of Indian Football forced his classmates into playing the game in his school compound. Attracted by the enthusiasm of the boys in the school, the European teachers of the school and adjacent colleges encouraged Nagendra Prasad and his companions to promote the game among the students surrounding Calcutta.
        </p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <div class="details">
          <span class="title">Nagendra Prasad Sarbadhakari, known as the Father of Indian Football</span>
          <span style="background: #EE7128; color:white" >1872</span>
        </div>
        <p>	
            Reports suggest that they were initially a rugby club and switched their attentions to football as late as 1894.
        </p>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <div class="details">
          <span class="title">The Durand Cup, first held in Shimla</span>
          <span style="background: #263288; color:white">1888</span>
        </div>
        <p> 
            It is the first Indian football competition and incidentally the third oldest surviving competition in the World. It was started by Sir Mortimer Durand. 
        </p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <div class="details">
          <span class="title">Durand Cup winners receive 3 trophies</span>
          <span style="background: #EE7128; color:white">1888</span>
        </div>
        <p>
            The tournament is also unique wherein the winning team walks away with three trophies. The Durand Cup and Shimla Trophy are Rolling Trophies while The President’s Cup first presented by Dr. Rajendra Prasad is given to the team permanently.
        </p>
      </section>
    </div>
    <div class="row row-1">
        <section>
          <div class="details">
            <span class="title">Mohun Bagan set up (oldest existing club)</span>
            <span style="background: #263288; color:white">1889</span>
          </div>
          <p>
              Mohun Bagan Athletic Club was set up in what is now West Bengal, in the year 1889.              
          </p>
        </section>
    </div>
    <div class="row row-2">
        <section>
          <div class="details">
            <span class="title">Sovabazar Club win the Trades Cup</span>
            <span style="background: #EE7128; color:white">1892</span>
          </div>
          <p>
              The first Indian team to achieve success was Sovabazar Club, which won the Trades Cup in 1892.               
          </p>
          </section>
    </div>
    <div class="row row-1">
        <section>
            <div class="details">
            <span class="title">Indian Football Association established</span>
            <span style="background: #263288; color:white">1893</span>
            </div>
            <p>
                The Indian Football Association (IFA) was established in Calcutta in 1893 (no Indian memebers till 1920s).              
            </p>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <div class="details">
            <span class="title">RB Ferguson Football Club (first club in South India)</span>
            <span style="background: #EE7128; color:white" >1899</span>
            </div>
            <p>
                Established on February 20, 1899 in Thrissur, Kerala, it was the oldest football club in the southern part of India. The club was famed by the nickname Young Men&#039;s Football Club and played a huge role in promoting football in Kerala during the early 1900s.
            </p>
        </section>
    </div>
    <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Mohun Bagan Wins IFA shield</span>
                <span style="background: #263288; color:white">1911</span>
            </div>
            <p>
                The club became famous in 1911 when it became the first Indian team to lift the IFA Shield, a tournament previously won only by British teams based in India. The team was known as &quot;the immortal eleven&quot; at the moment.
            </p>
            </section>
    </div>
    <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">The first known official international tour by Indian team</span>
                <span style="background: #EE7128; color:white">1924</span>
            </div>
            <p>
                In 1924, the Indian team which consisted of both Indian and British players, led by the legendary Indian footballer Gostha Pal made a trip to Sri Lanka.                
            </p>
            </section>
    </div>
    <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">All India Football Federation formed</span>
                <span style="background: #263288; color:white">1937</span>
            </div>
            <p>
                The All India Football Federation (AIFF) was formed in 1937, when representatives of football associations of six regions met at the Army Headquarters, Simla. The six regions which attended the historic meeting were Indian Football Association (IFA), Army Sports Control Board (ASCB), United Provinces, Bihar, North West India Football Association and Delhi.           
            </p>
            </section>
    </div>
    <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Official tour of Australia</span>
                <span style="background: #EE7128; color:white">1938</span>
            </div>
            <p>
                In 1938, India made an official tour to Australia where they played matches against various Australian clubs and 5 friendly matches against the Australian national side as well.
            </p>
            </section>
    </div>
    <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">R. Lumsden first indian to score a hat-trick</span>
                <span style="background: #263288; color:white">1938</span>
            </div>
            <p>
                The first player ever to score a hat-trick for India in an international football match was R. Lumsden. He achieved the feat in a friendly match against Australia on 24 September 1938.                
            </p>
            </section>
    </div>
    <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Mohammedan Sporting team wins Durand cup - first non-British team to win</span>
                <span style="background: #EE7128; color:white">1940</span>
            </div>
            <p>
                For almost 50 years since its commencement, the British teams ruled the Durand Cup. The monopoly was broken by the majestic Mohammedan Sporting team in 1940 when they beat the Royal Warwickshire Regiment 2-1. This famous win proved to be the turning point for Indian football.            
            </p>
            </section>
    </div>
    <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">1948 London olympics</span>
                <span style="background: #263288; color:white">1948</span>
            </div>
            <p>
                The 1948 London Olympics was India&#039;s first major international tournament, where a predominately barefooted Indian team lost 2-1 to France before getting eliminated in the first round. Nevertheless, the quality of football displayed by the team had captivated one and all, including King George VI.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Successful tours of Ceylon and Afghanistan</span>
                <span style="background: #EE7128; color:white">1949</span>
            </div>
            <p>
                To get more international exposure, Ceylon (now Sri Lanka) and Afghanistan tours were organised by the All India Football Association and they proved to be successful for the Indian team.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">FIFA World Cup 1950</span>
                <span style="background: #263288; color:white">1950</span>
            </div>
            <p>
                India qualified by default for the 1950 FIFA World Cup finals as a result of the withdrawal of all of their scheduled opponents but AIFF backed out of the tournament as well, citing &quot;disagreements over team selection and insufficient practice time&quot;.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Syed Abdul Rahim becomes India coach - Golden Age Begins	</span>
                <span style="background: #EE7128; color:white">1950</span>
            </div>
            <p>
                Syed Abdul Rahim (17 August 1909 – 11 June 1963) was a a former player and he coached the Indian national team from 1950 until his death in 1963. He is regarded as the architect of modern Indian football.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Asian Games winners : 1951</span>
                <span style="background: #263288; color:white">1951</span>
            </div>
            <p>
                The Indian team beat both Indonesia and Afghanistan 3-0 to reach the final where they beat Iran 1-0 to become the Asian Games winners in 1951. Sheoo Mewalal of India was the top scorer of the tournament with 4 goals.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">East Bengal wins the IFA Shield for the third time in a row</span>
                <span style="background: #EE7128; color:white">1951</span>
            </div>
            <p>
                In 1951, East Bengal became the first Indian team to win the IFA Shield three times in a row (1949 to 1951). For this achievement, the English FA annual almanac of 1951-52 adjudged East Bengal the best Indian soccer club. Following this, on invitation, East Bengal became the first Indian football team to tour the Soviet Union and Romania.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Joint winner of Colombo Quadrangular Cup	</span>
                <span style="background: #263288; color:white">1952</span>
            </div>
            <p>
                In 1952, India continued the great form by becoming the joint winner along with Pakistan, in the Quadrangular Cup held in Colombo, Sri Lanka. India also won three further editions of the Quadrangular Cup, which were held in Burma, Calcutta and Dhaka in 1953, 1954 and 1955 respectively.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Boots made mandatory in domestic competitions</span>
                <span style="background: #EE7128; color:white">1954</span>
            </div>
            <p>
                Boots were made mandatory in domestic competitions and their duration was increased from 60 to 70 minutes.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">1956 Olympics 4th place	</span>
                <span style="background: #263288; color:white">1956</span>
            </div>
            <p>
                India became the first Asian team to play in Olympic semi-finals. Neville D&#039;Souza became the first Asian to score a hat-trick in the Olympics and he finished as the joint top goal scorer in the tournament with 4 goals.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">1958 Asian Games</span>
                <span style="background: #EE7128; color:white">1958</span>
            </div>
            <p>
                India finished fourth at the 1958 Asian Games held in Tokyo, Japan.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Subroto Cup	</span>
                <span style="background: #263288; color:white">1960</span>
            </div>
            <p>
                Subroto Cup Football Tournament, a prestigious international inter-school football tournament was first held in 1960 with the participation of about 50 school teams from various countries across Asia.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">P K Banerjee receives Arjuna Award</span>
                <span style="background: #EE7128; color:white">1961</span>
            </div>
            <p>
                P K Banerjee became the first recepient of Arjuna Award in Football. He was later awarded the prestigious Padma Shri in 1990 and was named Indian Footballer of the 20th century by IFFHS.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Asian Games Gold	</span>
                <span style="background: #263288; color:white">1962</span>
            </div>
            <p>
                India defeated South Vietnam in the semi-finals and South Korea in the final (2-1) to clinch the Asian Games gold in Jakarta, Indonesia.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Gostha Pal becomes the first recipient of Padma Shri in Indian football</span>
                <span style="background: #EE7128; color:white">1962</span>
            </div>
            <p>

            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">1964 AFC Asian Cup	</span>
                <span style="background: #263288; color:white">1964</span>
            </div>
            <p>
                India finished runners-up in the third edition of the AFC Asian Cup held in Israel.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Merdeka tournament runners-up</span>
                <span style="background: #EE7128; color:white">1964</span>
            </div>
                <p>
                    India were the runners-up at the 1964 Merdeka tournament and finished third in the 1965 and 1966 editions of the tournament.
                </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Duration of football matches increased from 70 to 90 minutes in all AIFF competitions	</span>
                <span style="background: #263288; color:white">1967</span>
            </div>
            <p>

            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Bronze medal at Bangkok Asiad and Merdeka</span>
                <span style="background: #EE7128; color:white">1970</span>
            </div>
            <p>
                India won the Bronze medal at the Bangkok Asian Games and Merdeka tournament. Both the teams were led by Syed Nayeemuddin.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Joint Champions: Pesta Sukan Cup	</span>
                <span style="background: #263288; color:white">1971</span>
            </div>
            <p>
                India became joint champions of Pesta Sukan Cup held at Singapore along with South Vietnam.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Joint winners of Asian Youth Championship</span>
                <span style="background: #EE7128; color:white">1974</span>
            </div>
            <p>
                India, under the captaincy of Prasun Banerjee, became joint winners of Asian Youth Championship at Bangkok along with Iran.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Inaugural edition of Federation Cup	</span>
                <span style="background: #263288; color:white">1977</span>
            </div>
            <p>
                First edition of Federation Cup was held at Ernakulam, Kerala. ITI (Bangalore) won the inaugural championship. Pele played an exhibition match for Cosmos vs Mohun Bagan at Calcutta.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Nehru Cup inaugurated</span>
                <span style="background: #EE7128; color:white">1982</span>
            </div>
            <p>
                Nehru Cup was inaugurated at Calcutta. Uruguay became champions of the first edition.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Shanti Mullick becomes the first woman player to win the Arjuna Award	</span>
                <span style="background: #263288; color:white">1983</span>
            </div>
            <p>

            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Gold Medal at SAF Games</span>
                <span style="background: #EE7128; color:white">1985</span>
            </div>
            <p>
                India won the Gold Medal at SAF Games, Dhaka. India achieved the feat again at the Calcutta edition of the games held in 1987.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Syed Nayeemuddin wins Dronacharya Award and IM Vijayan wins first AIFF Player of the Year	</span>
                <span style="background: #263288; color:white">1992</span>
            </div>
            <p>

            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">SAARC Gold Cup winners</span>
                <span style="background: #EE7128; color:white">1993</span>
            </div>
            <p>
                India won the inaugural edition of SAARC Gold Cup held in Lahore, Pakistan.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Gold medal at SAF Games	</span>
                <span style="background: #263288; color:white">1995</span>
            </div>
            <p>
                India won the Gold Medal at 1995 SAF Games held in Madras. India defeated Bangladesh 1-0 in the final to clinch the title.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">National Football League kicks off</span>
                <span style="background: #EE7128; color:white">1996</span>
            </div>
            <p>
                JCT Club won the inaugural edition of the National Football league and Churchill Brothers S.C finished runners-up. The league is now known as the I-League.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">India wins the SAFF Gold Cup</span>
                <span style="background: #263288; color:white" >1997</span>
            </div>
            <p>
                India won the SAFF Gold Cup at Kathmandu thrashing Maldives 5-1 in the final.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">India retain SAFF Gold Cup</span>
                <span style="background: #EE7128; color:white">1999</span>
            </div>
            <p>
                India won its third SAF Gold Cup title in 1999, beating Bangladesh 2-0 in the final.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Sahara Millenium Cup held in India</span>
                <span style="background: #263288; color:white">2001</span>
            </div>
            <p>
                The Millennium Super Soccer Cup, known as the Sahara Cup for sponsorship reasons, was held in India from 10 January to 25 January 2001. Yugoslavia became the champions of the tournament, defeating Bosnia and Herzegovina in the final.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Afro-Asian Games</span>
                <span style="background: #EE7128; color:white">2003</span>
            </div>
            <p>
                India finished runners-up in the maiden Afro Asian Games Football tournament held in India, losing to Uzbekistan U-21 (1-0) in the final.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">East Bengal Club wins the ASEAN Club Championship at Jakarta</span>
                <span style="background: #263288; color:white">2003</span>
            </div>
            <p>
                East Bengal beat BEC Tero Sasana (3-1) in the final to clinch the title at the maiden ASEAN Club Championship (formerly known as LG Cup). 
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">India wins the SAFF Gold Cup at Karachi</span>
                <span style="background: #EE7128; color:white">2005</span>
            </div>
            <p>
                India won their fourth title after defeating Bangladesh 2-0 in the finals. Mehrajuddin Wadoo and Baichung Bhutia netted the winning goals for India.
            </p>   
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Nehru Cup title</span>
                <span style="background: #263288; color:white">2007</span>
            </div>
            <p>
                Indian won the 2007 Nehru Cup at New Delhi under the captaincy of Baichung Bhutia.     
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">I-League kicks off</span>
                <span style="background: #EE7128; color:white">2007</span>
            </div>
            <p>
                National Football League was relaunched and rebranded in 2007 as the I-League. Dempo emerged champions of the inaugural season of I-League.    
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">AFC Challenge Cup champions</span>
                <span style="background: #263288; color:white">2008</span>
            </div>
            <p>
                India won the AFC Challenge Cup at New Delhi to qualify for the 2011 AFC Asian Cup Final round to be held in Doha.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">India retain Nehru Cup</span>
                <span style="background: #EE7128; color:white">2009</span>
            </div>
            <p>
                India beat Syria on penalties to retain the Nehru Cup at New Delhi.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">AIFF launches Arrows as the developmental team</span>
                <span style="background: #263288; color:white">2010</span>
            </div>
            <p>
                The club was formed with the main goal of nurturing young Indian football talents. After disbanding in 2013 due to financial reasons, the project was revived as Indian Arrows in 2017.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">India wins the AFC Challenge Cup Qualifiers at Kuala Lumpur and SAFF Cup at New Delhi</span>
                <span style="background: #EE7128; color:white">2011</span>
            </div>
            <p>

            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">3rd Nehru Cup title</span>
                <span style="background: #263288; color:white">2012</span>
            </div>
            <p>
                India won the Nehru Cup for the third consecutive year, defeating Cameroon 5-4 on penalties after the match ended 2-2 in extra-time.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">First AIFF Regional Academy launched at Navi Mumbai</span>
                <span style="background: #EE7128; color:white">2012</span>
            </div>
            <p>

            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Indian Super League (ISL) kicks off</span>
                <span style="background: #263288; color:white">2014</span>
            </div>
            <p>
                ATK (previously known as Atlético de Kolkata) emerged as the maiden champions of the league which is organized by the Football Sports Development (FSDL) under the governance of the All India Football Federation (AIFF).
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">Sunil Chhetri reaches 50-goal milestone</span>
                <span style="background: #EE7128; color:white">2015</span>
            </div>
            <p>
                Sunil Chhetri became the first Indian to score 50 goals in international matches when he scored against Maldives in the SAFF Cup.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">India wins the SAFF Cup at Tiruvanathapuram</span>
                <span style="background: #263288; color:white">2015</span>
            </div>
            <p>
                India won its 7th title beating Afghanistan 2-1 in the final. Sunil Chhetri was named the Most Valuable Player of the tournament for his performances.
            </p>
            </section>
        </div>
        <div class="row row-2">
            <section>
            <div class="details">
                <span class="title">India host the FIFA U17 World Cup</span>
                <span style="background: #EE7128; color:white">2017</span>
            </div>
            <p>
                The tournament marked the first time India hosted a FIFA tournament. Jeakson Singh became the first goal scorer for India in a FIFA tournament, when he scored against Columbia.
            </p>
            </section>
        </div>
        <div class="row row-1">
            <section>
            <div class="details">
                <span class="title">Intercontinental Cup kicked off</span>
                <span style="background: #263288; color:white">2018</span>
            </div>
            <p>
                AIFF&#039;s Hero Intercontinental Cup kicked off at Mumbai and India won the inaugural edition, defeating Kenya 2-0 in the final.
            </p>
            </section>
        </div>
  </div>

  <div id="footer">

    <div id="hr1">
        <div class="fw1">
            <h1 style="color: white; padding-left: 120px; padding-top:30px; font-size: 50px;">Quick Links</h1>
            <div style="color:rgb(255, 255, 255);padding-left: 120px;">
                <a href="" title="Homepage">Home</a>
                <br>
                <a href="" title="About">About</a>
                <br>
                <a href="shop/contact.php" title="contact Us">Contact Us</a>
                <br>
                <a href="shop/contact.php" title="Shop">Shop</a>
                <br>
                <a href="vote\index.php" title="Vote">Vote</a>
                <br>
                <a href="news1\index.php" title="News">News</a>
            </div>


        </div>
        <div class="fw1">

            <h1 style="color: white; padding-left: 80px; padding-top:30px; font-size: 50px;">Development Activities</h1>
            <div style="color:rgb(255, 255, 255);padding-left: 80px;">
                <!-- <a href="" title="Find Football">Find Football</a> -->
                <br>
                <a href="" title="Player_registration">Registration</a>
                <br>
                <a href="" title="Scouting">Scouting</a>
                <br>
                <a href="" title="NCE">National Center of Excellence</a>
                <br>
                <a href="DBMS Project/TEMPLATE/grassroots.html" title="Grassroots">Grassroots</a><br>
                <a href="" title="futsal">Futsal</a>
            </div>



        </div>

        <div class="fw1">

            <h1 style="color: white; padding-left: 100px; padding-top:30px; font-size: 30px;">Contact</h1>
            <address style="color:white; text-align: justify; padding-left:100px; padding-right:80px; font-size: 20px;">All India Football
                Federation,
                Football House, Sector-19, Phase 1,
                Dwarka, New Delhi: 110075
                Telephone: +91-11-25308200/201/202/203/204/205
                Fax: +91-1125308234, 25308236</address>
            <br>
            <div style="color:rgb(255, 255, 255);padding-left: 100px;">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <!-- <img src="" title="Instagram" alt="Instagram"> -->
                <br>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>
        </div>

    </div>
    <div id="hr2">
        <h1 style="color:rgba(21, 47, 163, 0.89);;;padding-left: 600px;"><b>@ Indian Football Hub</b></h1>

    </div>
    <div id="hr3" style="color:white; padding-top:20px;">
        <p align="Center"><b>@Team 15</b></p>
    </div>



</div>
</body>
</html>