<!DOCTYPE html>
<html lang="en">

<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>
        President's Address</title>
    <!-- CSS-->
    <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="stylenew.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <style>
        body{
            background-image: url(bg.png);
            background-color: #cccccc; 
            background-position:center; 
            background-repeat: no-repeat; 
            background-size:cover;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight:300;
            font-size: large;
            color:#000000 ;

        }
        .cont{
            background-color: rgba(255, 255, 255, 0.575);
        }
        .cont p{
                padding-left: 20px ;
        }
        
    .bg-dark{
        background-color: #343a40!important;
    }

    nav{
        background-color: #263288!important;
    }

    .navbar{
        background-color: #263288!important;
    }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../">Go Back	&#8592;</a>
            </li>
            
            
          </ul>
      </nav>
    <!--<div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football</a>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tournament</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Features</label>
                        <ul>
                            <li><a href="pointstable.html">Points Table</a></li>
                            <li><a href="#">Leagues & Fixtures</a></li>
                            <li><a href="#">Player Comparison</a></li>
                            <li><a href="#">Team Comparison </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">Development Activities</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Features</label>
                        <ul>
                            <li><a href="findfootball.html">Find Football</a></li>
                            <li><a href="#">Player & Coach Registration</a></li>
                            <li><a href="#">Scouting</a></li>
                            <li><a href="#">National Center of Excellence</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">Who are we</a>
                        <input type="checkbox" id="show-services">
                        <label for="show-services">Services</label>
                        <ul>
                            <li><a href="history.html">History</a></li>
                            <li><a href="Generalbody.html">General Body</a></li>
                            <li><a href="president.html">President’s Address</a></li>
                            <li><a href="Adminstration.html">Adminstration</a></li>
                            <li><a href="committee.html">Committee</a></li>
                            <li><a href="execcomm.html">Executive Committee</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li><a href="store.html">Shop</a></li>
                </ul>
            </div>
            </form>
        </nav>
    </div>-->
    <div style="background:#ffa876; color: whitesmoke;">
        <br> <br> <br>
        <h1 align="center"> President&#039;s Address</h1>
        <br><br>
    </div>
    <div class="wrappper">
        <div class="card front-face">
          <img src="https://im.rediff.com/sports/2015/apr/30afc2.jpg">
        </div>
  <div class="card back-face">
          <img src="https://www.the-aiff.com/assets/images/praful.jpg">
          <div class="info">
            <div class="title"> Praful Patel</div>
        <p>
            Nationality : Indian <br>
            Date of Birth : 17th Feb 1957 <br>
            Education Qualification : B.Com
        </p>
         </div>
         <ul>
            <a href="https://twitter.com/praful_patel?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/praful_m_patel/?hl=en"><i class="fab fa-instagram"></i></a>
          </ul>
    </div>
</div>
<br>
<div class="cont">
                <!-- wp:paragraph -->
        <p > </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>Indian Football has made giant strides under the leadership of Mr.
        Praful Patel who took over as President in-charge in December 2008 and was
        elected as the AIFF President in December 2009 and has been at the helm since. </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>Under his guidance, AIFF has seen Grassroots and Coach Development usher
        in, football academies blossom and Youth Development take big steps including the
        launch of the youth leagues.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>India also hosted its first football mega event - the 2017 FIFA U-17
        World Cup – an unprecedented achievement in the country, backed by Mr. Patel.
        With AIFF now set to host the U-17 FIFA Women’s World Cup in 2020 it shows the
        forward-thinking mindset of the AIFF President.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>An adept political leader and a former member of the Cabinet, Mr. Patel
        has steered Indian Football forward ably, proving himself to also be a capable
        sports administrator. </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>The AIFF President is now focused on implementing the second strategic
        plan, which runs from 2019-2022, to further develop Indian Football. </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <br>

        <p><strong>President’s
        Note</strong></p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>The strategic planning
        process was introduced in the AIFF in 2013 with the launch of the 1<sup>st</sup>
        AIFF Strategic Plan for a period of 4 years from 2014 to 2017. </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>The 1<sup>st</sup> Plan focused on
        creating the robust structure of underlying development programs in order to
        facilitate high performance at the professional level. This structure will act
        as a base for broad basing the game further as well push for excellence.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>A few milestones that Indian
        Football achieved during the 1<sup>st</sup> Strategic Plan period.</p>
        <!-- /wp:paragraph -->

        <!-- wp:list {"ordered":true} -->
        <ol style="padding-left: 20px; display:round;"><li>FIFA Ranking of the Indian National Team improved from 154 to 97</li><li>India qualified for the AFC Asian Cup 2019 in the most emphatic manner by topping our group</li><li>India flawlessly delivered the most successful FIFA youth competition ever with an attendance of over 1.34 million</li><li>First ever professional league for women (IWL) was started in 2016</li><li>No. of teams in IWL increased from 25 to 44 in just one year</li><li>No. of teams in top professional leagues (I-League &amp; ISL) for men increased from 13 to 20</li><li>No. of states covered by top professional leagues for men increased from 5 to 14</li><li>No. of youth teams playing in national leagues increased from 20 to 198</li><li>No. of matches organized by AIFF increased from 511 to 1200+</li><li>No. of certified coaches and referees increased from 1215 to 6501 and 3712 to 5940, respectively</li></ol>
        <!-- /wp:list -->

        <!-- wp:paragraph -->
        <p>The above was possible only due to
        the combined effort of all stakeholders associated with Indian Football. Yet,
        we realize, that there is still a long way to go. There is a need to perform
        consistently well at the international level so that we can bring more laurels
        to the country. This is possible if we are able to strengthen and channelize
        the culture in existing football hotbeds while helping other regions to work
        towards building a similar culture.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>The AIFF’s role is to facilitate the growth of football in India by creating a robust platform for all stakeholders. And we will continue to strive towards developing an eco-system so that every football enthusiast in India can engage and participate in a manner that is convenient, constructive and fulfilling.  Guided by the 2<sup>nd</sup> Strategic Plan and the support of all stakeholders, we dream of becoming one of the top footballing countries in Asia in terms of both scale and quality within the next 10 years. </p>
        <!-- /wp:paragraph -->
  </div>
    <br>
    <br>
    <br>
    <br>

</body>

</html>