<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Futsal</title>
    
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="National_Centre_of_Excellence.css" type="text/css">
 <!-- <link rel="stylesheet" href="register_style.css" type="text/css">-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football</a></div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Tournament</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="#">Points Table</a></li>
              <li><a href="#">Leagues & Fixtures</a></li>
              <li><a href="#">Player Comparison</a></li>
              <li><a href="#">Team Comparison 4</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Development Activities</a>
            <input type="checkbox" id="show-features">

            <label for="show-features">Features</label>
            <ul>
              <li><a href="#">Find Football</a></li>
              <li><a href="Player&Coach_registration.html">Player & Coach Registration</a></li>
              <li><a href="#">Scouting</a></li>
              <li><a href="National_Centre_of_Excellence.html">National Center of Excellence</a></li>
              <li><a href="grassroots.html">Grassroots</a></li>
              <li><a href="futsal.html">Futsal</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Who are we</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
              <li><a href="#">History</a></li>
              <li><a href="#">General Body</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </li>
          <li><a href="#">Shop</a></li>
        </ul>
      </div>
      </form>
    </nav>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <div class="first">
    <h1 style="color:whitesmoke;text-align:left; padding-top: 60px; padding-left: 150px; font-size: 40px;">Futsal</h1>
    <p style="padding:90px 140px 20px 150px; text-align: justify; font-size:17px ">
        Futsal is an exciting and fast paced indoor sport which is played across the world and is recognised by FIFA and the AFC. It is a 5v5 small sided game, played with a smaller, low-bounce futsal ball and on hard surfaces with touchlines. It is a great sport to develop skills as it demands quick thinking and reflexes, creative dribbling and accurate passing of the ball. The players quickly learn to be creative on the pitch. Futsal is credited by many of the world-class footballers for developing their football skills in their early years.<br>
        <br>

        The origin of Futsal goes back to 1930 in Uruguay, where football rules were modified to give its participants a chance to play the game in their own space, and on their own terms. The first recorded rules of futsal were a mixture of rules from football, basketball, handball, and water polo. Over the years, the sport has developed, the rules have been defined, and has spread widely over 170 countries.
        <br>
        <br>

        Key differences between Futsal and 5v5 football -
        <div align="Center" >
        <table style="border:3px solid rgb(21, 117, 58);" height="400px" width="1000px">
            <tr style="background-color:rgb(2, 65, 117); color:skyblue; font-size: 20px;">
                <th>Futsal</th>
                <th>Football</th>
            </tr>
            <tr style="background-color: rgba(120, 206, 22, 0.795);color:white">
                <td>Played with a Futsal ball</td>&nbsp;&nbsp;
                <td>Played with a football</td>
            </tr>
            <tr style="background-color: teal;color:white">
                <td>The surface must be a hard court</td>
                <td>The surface can be hard or soft</td>
            </tr>
            <tr style="background-color: rgba(105, 182, 69, 0.863);color:snow">
                <td>The goal size is 3m x 2m</td>
                <td>Goal sizes could vary</td>
            </tr>
            <tr style="background-color: rgba(10, 59, 99, 0.863);color:snow">
                <td>Limit to fouls. Penalties after 5th foul</td>
                <td>No limit to fouls</td>
            </tr>
            <tr style="background-color: rgba(206, 87, 19, 0.863);color:snow">
                <td>Stopping Clock. Clock stops when ball is out of play.</td>
                <td>Running Clock. Clock does not stop when ball is out of play.</td>
            </tr>
            <tr  style="background-color: teal; color:white">
                <td>Time-Outs allowed</td>
                <td>No timeouts</td>
            </tr>
        </table>
    </div>

    <h1 style="color:orangered; padding-left: 90px; border-style:outset;padding-top:5px; margin-top: 80px;">Futsal in India</h1>
    <p style="padding: 20px 40px 20px 40px ;width: 800px;">
        India has the potential to become a talent hub for Futsal. A proper pathway from Grassroots Futsal to National teams of Futsal is being designed by the AIFF.</p>
        <br>
        <br>
        <h3 style="padding-left: 70px;">Coach Education Courses</h3>
    <p style="padding: 20px 40px 20px 60px ;width: 800px;">Taking the first steps towards the development of sport in India, AIFF introduced Futsal Coach Education courses in 2018. The AFC Futsal Coaching Courses are of three levels.
        <ul style="padding-left:100px;">
            <li>AFC Futsal Level 1</li>
            <li>AFC Futsal Level 2</li>
            <li>AFC Futsal Level 3</li>
        </ul>
    </p>
    <br>

    <h3 style="padding-left: 70px;">Grassroots</h3>
    <p style="padding: 20px 40px 20px 60px ;width: 800px;">
        Futsal has been introduced in the 'E Certificate Course' for coaches which is focused on the education of Grassroots football coaches.<br><br>

        Futsal is also promoted in the Golden Baby Leagues - a project targeted at children between the age of U6-U12 years which essentially forms the golden or the most impressionable age of learning and developing talent
    </p>

    
   


    <h3 style="padding-left: 60px;">Senior Competition</h3>
    <p style="padding: 20px 40px 20px 60px ;width: 800px;">AIFF has proposed to conduct a National Futsal Club Championship in 2020.<br><br>
    Due to the similarities between football and futsal, they are largely governed by the same institutions.
    <br>
    <br>

    <img src="Futsal_image_1.png" alt="FIFA" height="100px" width="900px">
    </p>    


    <h1 style="color:orangered; padding-left: 90px; border-style:outset;padding-top:5px; margin-top: 10px;">Futsal in Asia and the World</h1>
    <p style="padding:30px 90px 20px 40px; text-align: justify; font-size:17px ">FIFA took the sport under its umbrella by conducting in 1989, the First World Championship in the Netherlands, providing a massive platform to futsal players. Simultaneously, more Futsal tournaments followed which are hosted by renowned institutions such as IOC, contributing to the well-deserved visibility and development of the sport. The Asian Football Confederation conducts four Futsal tournaments in Asia.
    <ul style="padding-left:80px">
        <li>FIFA Futsal World Cup</li>
        <li>Youth Olympic Futsal Tournament Men's</li>
        <li>Youth Olympic Futsal Tournament Women's</li>
        <li>AFC Futsal Championship</li>
        <li>AFC Futsal Championship Women</li>
        <li>AFC Futsal Club Championship</li>
        <li>AFC U-20 Futsal Championship</li>
    </ul>
    
    </p>

    <br>

    <h1 style="color:orangered; padding-left: 90px; border-style:outset;padding-top:5px; margin-top: 10px;">FAQs</h1>

    <p style="padding:30px 90px 20px 40px; text-align: justify; font-size:17px ">
    What makes Futsal exciting?
    <br>
    <ul style="padding-left:90px;">
        <li>Fast paced small sided game</li>
        <li>More touches on the ball</li>
        <li>More goals</li>
        <li>Emphasis on skills</li>
    </ul>
    <br>
    
    <p style="padding-left: 40px;">How is Futsal easy to organise and play?</p>
    <br>
    
    <ul style="padding-left: 90px;">
        <li>Less players (5v5)</li>
        <li>Less time (40 minutes)</li>
        <li>Less space</li>
        <li>Can be played indoors or outdoors</li>
        <li>Unlimited substitutions</li>
        <li>Simpler rules</li>
    </ul>

    <br>
    <br>
    <hr>
    <br>
    <hr>
    


    
    
    
    
    
    </p>

    

    
    
    
    
   

    </p>


  </div>
  <br>
  <br>