<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="navbar.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Registration</title>
    
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
 <!-- <link rel="stylesheet" href="register_style.css" type="text/css">-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football</a></div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Tournament</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="#">Points Table</a></li>
              <li><a href="#">Leagues & Fixtures</a></li>
              <li><a href="#">Player Comparison</a></li>
              <li><a href="#">Team Comparison 4</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Development Activities</a>
            <input type="checkbox" id="show-features">

            <label for="show-features">Features</label>
            <ul>
              <li><a href="#">Find Football</a></li>
              <li><a href="Player&Coach_registration.html">Player & Coach Registration</a></li>
              <!-- <li><a href="#">Scouting</a></li> -->
              <li><a href="#">National Center of Excellence</a></li>
              <li><a href="grassroot.html">Grassroots</a></li>
              <li><a href="futsal.html">Futsal</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Who are we</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
              <li><a href="#">History</a></li>
              <li><a href="#">General Body</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </li>
          <li><a href="#">Shop</a></li>
        </ul>
      </div>
      </form>
    </nav>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div style="padding: 60px 0px 10px 0px;background-color:darkblue;margin-top: -25px; color:white; font-size: 35px; padding-left: 60px;"><b>Grassroots</b>
  </div>

  <div style="padding-left:0px;">
    <h1 style="padding-top: 40px;font-size: 25px; padding-left:180px; padding-bottom: 0px; color:rgb(106, 230, 5); border-style:outset;border-radius: 8px; border-bottom-color: seagreen; margin:20px;">GRASSROOTS FOOTBALL</h1></div>
    <img src="grassroots_image_1.jpg" alt="children Playing" height="700px" width="600px" align="right" style="padding-top:40px; padding-right:40px; padding-left:0px">
    <p style="padding-left:180px; width: 800px; text-align: justify;padding-top:40px;">Grassroots Football lays the foundation of the sport, and its primary aim is to increase participation for children, youth, amateurs, veterans, those with physical disabilities, cerebral palsy, visually impaired and even the socially disadvantaged.<br><br>

      The AIFF Grassroots programme pays special attention to quality and quantity of licensed E-certificate coaches, accredited academies, grassroots festivals, Golden Baby Leagues, amateur football tournaments, futsal and anything which doesn't come under the umbrella of professional Football. AIFF is also determined to conduct numerous community outreach programs to popularise Football through grassroots.<br><br>
          
      The Asian Football Confederation (AFC) defines grassroots football as 'All football which is non-professional and non-elite.' It intends to bring all together by providing access to Football regardless of age, gender, physical condition, skin colour, religion or ethnic origin.<br><br>
          
      AIFF's Grassroots Development programme kicked-off in December 2012 and the expansion was rapid and fast. In 2013, AIFF finished second at the AFC Annual Awards in the 'Grassroots Member Association of the Year' category.<br> <br>
          
      AIFF also bagged an AFC President Recognition Award for Grassroots Football in 2014. More recently, in February 2020, AIFF received the AFC Grassroots charter -- Bronze Level membership for its stupendous work towards promoting grassroots football.
      </p>








  
        
  
  
  
  
  
  
  
        
  
    
    
    
   
    
  


</div>


<div id="footer">

  <div id="hr1">
      <div class="fw1">
          <h1 style="color: white; padding-left: 120px; padding-top:30px; font-size: 50px;">Quick Links</h1>
          <div style="color:rgb(255, 255, 255);padding-left: 120px;">
              <a href="" title="Homepage">Home</a>
              <br>
              <a href="" title="About">About</a>
              <br>
              <a href="shop/contact.php" title="contact Us">Contact Us</a>
              <br>
              <a href="shop/contact.php" title="Shop">Shop</a>
              <br>
              <a href="vote\index.php" title="Vote">Vote</a>
              <br>
              <a href="news1\index.php" title="News">News</a>
          </div>


      </div>
      <div class="fw1">

          <h1 style="color: white; padding-left: 80px; padding-top:30px; font-size: 50px;">Development Activities</h1>
          <div style="color:rgb(255, 255, 255);padding-left: 80px;">
              <!-- <a href="" title="Find Football">Find Football</a> -->
              <br>
              <a href="" title="Player_registration">Registration</a>
              <br>
              <!-- <a href="" title="Scouting">Scouting</a>
              <br> -->
              <a href="" title="NCE">National Center of Excellence</a>
              <br>
              <a href="DBMS Project/TEMPLATE/grassroots.html" title="Grassroots">Grassroots</a><br>
              <a href="" title="futsal">Futsal</a>
          </div>



      </div>

      <div class="fw1">

          <h1 style="color: white; padding-left: 100px; padding-top:30px; font-size: 30px;">Contact</h1>
          <address style="color:white; text-align: justify; padding-left:100px; padding-right:80px; font-size: 20px;">All India Football
              Federation,
              Football House, Sector-19, Phase 1,
              Dwarka, New Delhi: 110075
              Telephone: +91-11-25308200/201/202/203/204/205
              Fax: +91-1125308234, 25308236</address>
          <br>
          <div style="color:rgb(255, 255, 255);padding-left: 100px;">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <!-- <img src="" title="Instagram" alt="Instagram"> -->
              <br>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
      </div>

  </div>
  <div id="hr2">
      <h1 style="color:rgba(21, 47, 163, 0.89);;;padding-left: 600px;"><b>@ Indian Football Hub</b></h1>

  </div>
  <div id="hr3" style="color:white; padding-top:20px;">
      <p align="Center"><b>@Team 15</b></p>
  </div>



</div>
</body>
</html>