.first{
margin-top: -25px;
height: 150px;
width: 100%;
background-color:darkblue;
border:2px solid grey;

}

* {
    box-sizing: border-box;
  }
  
  .column {
  
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }