<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FAVICON -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>NCE</title>
    
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="National_Centre_of_Excellence.css" type="text/css">
 <!-- <link rel="stylesheet" href="register_style.css" type="text/css">-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="navbar.css">

</head>
<body>
  <header>

    <div class="wrapper">
      <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
          <div class="logo"><a href="#"><img src=logo.png width="30px" height="30px">&nbsp Indian Football
              Hub</a></div>
          <ul class="links">
            <li><a href="">Home</a></li>
            <li><a href="">Tournament</a>
              <input type="checkbox" id="show-features">
              <label for="show-features">Features</label>
              <ul>
                <li><a href="WT_PROJECT_1941027\points table\table_points.html">Points Table</a></li>
                <!-- <li><a href="#">Leagues & Fixtures</a></li> -->
                <li><a href="WT_PROJECT_1941027\playercomp.php">Player Comparison</a></li>
                <li><a href="WT_PROJECT_1941027\teamcomp.php">Team Comparison </a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-link">Development Activities</a>
              <input type="checkbox" id="show-features">
              <label for="show-features">Features</label>
              <ul>
                <!-- <li><a href="#">Find Football</a></li> -->
                <li><a href="DBMS Project/TEMPLATE/Player&Coach_registration.html">Player & Coach Registration</a></li>
                <!-- <li><a href="#">Scouting</a></li> -->
                <li><a href="DBMS Project/TEMPLATE/National_Centre_of_Excellence.html">National Center of Excellence</a></li>
                <li><a href="DBMS Project/TEMPLATE/grassroots.html">Grassroots</a></li>
                <li><a href="DBMS Project/TEMPLATE/futsal.html">Futsal</a></li>
                <li><a href="vote/index.php">Vote</a></li>
                <li><a href="vote/index.php">Vote</a></li>
                <li><a href="news1/index.php">News</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-link">Who are we</a>
              <input type="checkbox" id="show-services">
              <label for="show-services">Services</label>
              <ul>
                <li><a href="TEMPLATE/history.html">History</a></li>
                <li><a href="TEMPLATE/Generalbody.html">General Body</a></li>
                <li><a href="TEMPLATE/contactus.html">Contact Us</a></li>
                <li><a href="TEMPLATE/Adminstration.html">Adminstration</a></li>
                <li><a href="TEMPLATE/committee.html">Committee</a></li>
                <li><a href="TEMPLATE/Documents.html">Documents</a></li>
                <li><a href="TEMPLATE/execcomm.html">Executive Committee</a></li>
                <li><a href="TEMPLATE/president.html">President</a></li>
              </ul>
            </li>
            <li><a href="shop/shop_index.php">Shop</a></li> 
            <li style="margin-left: 10px;"><a href="search bar/searchbar.php"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            <li style="margin-left: 10px;"><a href="login/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
  
          </ul>
        </div>
      </nav>
    </div>
  
  
  
    
      
    </header>
  <br>
  <br>
  <br>
  <br>
  
  <div class="first">
    <h1 style="color:whitesmoke;text-align:left; padding-top: 70px; padding-left: 50px;">National Center of Excellence</h1>


  </div>
  <br>
  <br>
 
  <h1 style="color:orangered; padding-left: 60px; border-style:outset;">About NCE</h1>
  <img src="NCE_image_1" align="right" height="300px" width="800px" style="padding-right: 100px; padding-left:90px; padding-top:20px"><p style="padding: 20px 40px 20px 40px ;width: 800px; text-align: justify; ">The All India Football Federation, the national body to develop the game of football in the country, has undertaken a step to further strengthen and develop the beautiful game in the world's largest democracy by establishing India's first ever National Center of Excellence. The National Center of Excellence, a state-of-the-art facility shall be the home of AIFF national teams across age groups for men and women. This football gurukul has been planned to boost the existing, incremental and progressive development of the Indian Football Ecosystem. Designed to bring in all critical branches of football development under one umbrella it is aimed to nurture the existing and upcoming talent pool.</p>


  <h1 style="color:orangered; padding-left: 60px; border-style:outset;padding-top:5px; margin-top: 80px;">Mission Statement</h1>
  <img src="NCE_image_2.jpg" align="right" height="300px" width="800px" style="padding-right: 100px; padding-left:90px; padding-top:20px"><p style="padding: 20px 40px 20px 40px ;width: 800px; text-align: justify; ">To set up a home base for Indian Football and its National Teams in Kolkata, that will be a one solution facility catering to all target audiences within the Indian Football ecosystem known as: National Center of Excellence - India Football Campus, Kolkata.</p>


  <h1 style="color:orangered; padding-left: 60px; border-style:outset;padding-top:5px; margin-top: 230px;">Vision</h1>
  <p style="padding: 20px 40px 20px 40px ;width: 800px; ">To set up a home base for Indian Football and its National Teams in Kolkata, that will be a one solution facility catering to all target audiences within the Indian Football ecosystem known as: National Center of Excellence - India Football Campus, Kolkata.</p>


  
  <h1 style="color:orangered; padding-left: 60px; border-style:outset;padding-top:5px; margin-top: 50px;">Programes </h1>
  <img src="NCE_image_3.png" align="left" height="400px" width="1200px" style="padding-right: 100px; padding-left:50px; padding-top:20px">


  <h1 style="color:orangered; padding-left: 40px; border-style:outset;padding-top:5px; margin-top: 430px;">Current Status</h1>
  <img src="NCE_image_4.png" align="right" height="400px" width="990px" style="padding-right: 100px; padding-left:90px; padding-top:20px">
  <p style="padding: 20px 40px 20px 40px ;width: 800px; text-align: justify;">The first phase of construction is underway with the help of FIFA and AFC, which includes the Technical Center, 2 training fields which include a natural turf and an artificial turf with floodlights.
    <ol style="padding: 20px 40px 20px 80px ;width: 800px; text-align: justify; line-height: 30px;">
        <li>Technical Center - 2 Storeys
            <ul style="padding-left: 20px; line-height: 30px;">
                <li>6 Dressing Rooms</li>
                <li>Classrooms for Capacity Building</li>
            </ul>
        </li>
        <li>Artificial Field with Flood Lights</li>
        <li>Natural Field with Flood Lights</li>
        
    </ol>

</p>

<h1 style="color:orangered; padding-left: 40px; border-style:outset;padding-top:5px; margin-top: 130px;">Potential Partnership</h1>
<p style="padding: 20px 40px 20px 40px ;width: 800px; text-align: justify;">To realize the vision of making India the premier football country in the world, AIFF is extremely proud to welcome collaborators to become part of our journey to develop the Indian national teams and leave an everlasting legacy for the future generations of Indian Football.
    <br>
    <br>
    

    For queries on potential investment, partnership opportunities, CSR projects, kindly
    <br>
    <br>
    <br>

    
    contact us at specialprojects@the-aiff.com
    <br>
    <br>
   
    <div class="row" style="padding-left: 40px; padding-right: 60px;">
        <div class="column">
          <img src="NCE_image_5.jpg" alt="Snow" style="width:100%" >
        </div>
        <div class="column">
          <img src="NCE_image_6.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="NCE_image_7.jpg" alt="Mountains" style="width:100%">
        </div>
      </div>
      


</p>    




  







  



<div id="footer">

  <div id="hr1">
      <div class="fw1">
          <h1 style="color: white; padding-left: 120px; padding-top:30px; font-size: 50px;">Quick Links</h1>
          <div style="color:rgb(255, 255, 255);padding-left: 120px;">
              <a href="" title="Homepage">Home</a>
              <br>
              <a href="" title="About">About</a>
              <br>
              <a href="shop/contact.php" title="contact Us">Contact Us</a>
              <br>
              <a href="shop/contact.php" title="Shop">Shop</a>
              <br>
              <a href="vote\index.php" title="Vote">Vote</a>
              <br>
              <a href="news1\index.php" title="News">News</a>
          </div>


      </div>
      <div class="fw1">

          <h1 style="color: white; padding-left: 80px; padding-top:30px; font-size: 50px;">Development Activities</h1>
          <div style="color:rgb(255, 255, 255);padding-left: 80px;">
              <!-- <a href="" title="Find Football">Find Football</a> -->
              <br>
              <a href="" title="Player_registration">Registration</a>
              <br>
              <a href="" title="Scouting">Scouting</a>
              <br>
              <a href="" title="NCE">National Center of Excellence</a>
              <br>
              <a href="DBMS Project/TEMPLATE/grassroots.html" title="Grassroots">Grassroots</a><br>
              <a href="" title="futsal">Futsal</a>
          </div>



      </div>

      <div class="fw1">

          <h1 style="color: white; padding-left: 100px; padding-top:30px; font-size: 30px;">Contact</h1>
          <address style="color:white; text-align: justify; padding-left:100px; padding-right:80px; font-size: 20px;">All India Football
              Federation,
              Football House, Sector-19, Phase 1,
              Dwarka, New Delhi: 110075
              Telephone: +91-11-25308200/201/202/203/204/205
              Fax: +91-1125308234, 25308236</address>
          <br>
          <div style="color:rgb(255, 255, 255);padding-left: 100px;">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <!-- <img src="" title="Instagram" alt="Instagram"> -->
              <br>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
      </div>

  </div>
  <div id="hr2">
      <h1 style="color:rgba(21, 47, 163, 0.89);;;padding-left: 600px;"><b>@ Indian Football Hub</b></h1>

  </div>
  <div id="hr3" style="color:white; padding-top:20px;">
      <p align="Center"><b>@Team 15</b></p>
  </div>



</div>



</body>
</html>